@tailwind base;
@tailwind components;
@tailwind utilities;

#light {
    background-color: white;
    text-decoration: black;
    color: black;
    height: 100vh;
}

#dark {
    background-color: #181818;
    text-decoration: white;
    color: white;
    height: 100vh;
}

#light .switch label{
    color: black;
}

#dark .switch label{
    color: white;
}



.switch{
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: left;
    align-items: center;
}